<link rel="stylesheet" href="/styles/forgotpasswordmain.css">
<div id="container">
    <h1>Forgot Password</h1>
    <form action="/forgotpassword" method="post">
        <label for="email">Enter your registered email address</label>
        <input type="email" required name="email" placeholder="Email Address*">
        <button type="submit">Reset Password</button>
    </form>
    <%if(error){%>
       <h1><%=error%></h1>
       
    <%}%>
</div>