<style>
    *{
        text-align: center;
    }
    img{
        margin: auto;
    }
</style>
<h1>Welcome you to product description of <%=product.productname%></h1>
<img src=<%=product.imgurl%> alt="product Image" height="300px" width="300px">
<h3><%=product.price%> INR</h3>
<p>Free Delivery</p>
<p>10 days return policy</p>
<h1>Product Details</h1>
<p><%=product.productdetails%></p>
